:host {
    padding: 16px 8px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid rgba(0,0,0);
    border-radius: 8px;
    width: 9rem;
    height: 12rem;
    padding: 0.5rem 0.3rem 0.3rem;
    font-size: medium;
    color: grey;
    transition: background-color 1s ease;

    &:hover {
        background-color: #aaaaaa;
    }

    img {
        height: 100px;
        padding: 8px 0px;
    }

    p {
        text-transform: capitalize;
        margin-bottom: 0;
    }

    span {
        position: absolute;
        top: 4px;
        font-size: 1.7rem;
    }
}

.card .card__info {
    display: flex;
    flex-direction: column;

    div {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}

.card .card__info .card__info--name {
    font-size: 1.7rem;
    margin-top: 12px;
}

.card .card__info .card__info--type:hover {
    cursor: pointer;
}