:host {
    width: 100%;
}

.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
}

.filter .filter__type {
    width: 128px;
    height: 42px;
    display: flex;
    background: #B0B8C6;
    appearance: none;

    &:hover {
        cursor: pointer;
    }
}

form {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 4px 12px;
    width: 1024px;
}

.icon-text {
    display: flex;
    align-items: center;
    border-radius: 8px;
    transform: scale(0.9);

    &:hover {
        transform: scale(1.1);
        cursor: pointer;
    }
}

.type-name {
    text-transform: capitalize;
    margin-bottom: 0;
    padding: 4px;
    border-radius: 8px;
    margin-block: 0;
}

.type-icon {
    height: 24px;
    padding: 4px;
}

.selected {
    transform: scale(1.1);
}