<div class="root">
  <main class="content">
      <h1>Login Here</h1>
      <div class="login-display">
        <form class="grupo">
          <fieldset>
            <label for="Login">Nome:</label>
            <input type="text" id="nome" name="nome" placeholder="Digitar email ou login" required>

            <label for="password">Password:</label>
            <input type="password" id="login-pass" name="password" required>

            <label for="pais">País:</label>
            <input type="text" id="pais" name="pais" value="Brasil">

            <input type="submit" value="Enviar">
          </fieldset>
        </form>
      </div>
  </main>
</div>
