.filter {
    height: 46px;
    width: 200px;
    display: flex;
    align-items: center;

    form {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

.filter .filter__type {
    width: 128px;
    height: 42px;
    display: flex;
    background: #B0B8C6;
    appearance: none;

    &:hover {
        cursor: pointer;
    }
}