<div class="root">
    <main class="content">
        <div class="filters">
            <app-search-bar></app-search-bar>
            <app-filter-selector></app-filter-selector>
        </div>
        <!-- <div class="cards-wrapper"> -->
            <!-- (scrolled)="onScroll()"  Adicionar diretiva para verificar scroll -->
        <div class="cards" >
            <app-pokemon-card
                *ngFor="let pokemon of pokemonsToShow"
                [card]="pokemon"
            ></app-pokemon-card>
        </div>
        <!-- </div> -->
    </main>
</div>