:host {
    height: 100vh;
}

.root {
    height: 100%;
    width: 1024px;
    display: flex;
    margin: auto;
    padding: 16px;

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 16px;
        margin-top: 64px;

        .filters {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 32px;
        }

        /* .cards-wrapper {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 32px;
        } */

        .cards {
            display: inline-flex;
            flex-wrap: wrap;
            break-after: inherit;
            justify-content: space-between;
        }
    }
}